.centered {
	color: red;
	background: white;

	position: fixed;
    bottom: 0;
    left: 0;
}  

#question-mark {
	position: fixed;
	right: 5%;
	top: 5%;
	font-size: 5rem;
	
	width: 6rem;
    height: 6rem;
	
	background: #43DE0C;
	border: 2px solid #000000;
	/* box-sizing: border-box; */
	border-radius: 50%;
	line-height: 5rem;
	
	text-align: center;
	
	z-index: 1;

	color: #000;
}

.bee {
	z-index: 1;

	position: fixed;
	bottom: -15%;
	right: 20%;
	left: 10%;

	max-height: 40rem;
	max-width: 40rem;
}

.modal-body-img {
	max-height: 20rem;
	max-width: 20rem;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.timer {
	z-index: 1;

	position: absolute;
	width: 4rem;
	height: 2rem;
	left: 5%;
	top: 5%;

	background: #43DE0C;

	text-align: center;

	border-radius: 40%;
}

.nextRound {
	z-index: 1;

	position: absolute;
	width: 6rem;
	height: 2rem;
	left: 15%;
	top: 5%;

	text-align: center;
}

.nextRoundNext {
	z-index: 1;

	position: absolute;
	width: 6rem;
	height: 2rem;
	left: 30%;
	top: 5%;

	text-align: center;
}

@media only screen and (max-width: 440px) {
	.bee {
		right: 60%;
		left: -10%;

		max-height: 30rem;
		max-width: 30rem;
	}
  }